<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" style="text-align: center;">
	<img src="assets/images/logo4.jpg" style="width: 60%; padding-bottom: 30px;">
	<br>
	<form ng-submit="logIn()">
		<div class="form-group form-group-lg has-feedback">
			<label class="control-label" for="inputGroupSuccess1">To play in the Admin playground you have to provide a passcode!</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
				<input type="password" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" ng-model="pass">
			</div>
			<!-- <span id="inputGroupSuccess1Status" class="sr-only">(success)</span> -->
		</div>
		<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="logIn()">Log in</button>
		<p id="login-error">{{loginError}}</p>
	</form>
</div>