@footer-height: 50px;

.navbar-fixed-top {
	border-top: 4px solid #c4da60;
}

#logo {
	float: left;
	padding: 10px;
	height: 50px;
}

footer {
	background: #f8f8f8;
	border: 1px solid transparent;
	border-color: #e7e7e7;
	border-width: 1px 0 0;
	position: fixed;
	height: @footer-height;
	bottom: 0;
	width: 100%;
}

footer p {
	padding-top: (@footer-height - 20px) / 2;
}

/* GALLERY */
div.gallery-item-box {
	height: 200px;
	margin-bottom: 30px;
}

span.gallery-item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	right: 15px;
	background-size: cover;
	background-position: center;	
}