@link-color: #c4da60; // sea blue

.lunch-list {
	margin: 0;
	padding: 1em;
	border-bottom: 1px solid #ddd;
}

.lunch-list.available, #heading-legend {
	cursor: pointer;
}


.lunch-list:last-child {
	border-bottom: none;
}

.lunch-list:hover {
	background-color: #FFFDD9;
}

.lunch-list.available:hover, button.available:hover {
	background-color: #d6e9c6;
}

.panel-body.no-padding{
	padding: 0;
}

.link:hover {
	cursor: pointer;
	color: @link-color;
}

.right-bottom-10 {
	margin: 0 10px 10px 0;
}