// @import '../../bower_components/font-awesome/less/font-awesome.less';
// @fa-font-path: '../../bower_components/font-awesome/fonts';

 
@import '../../bower_components/bootstrap/less/bootstrap.less';
@icon-font-path: '../../bower_components/bootstrap/fonts/';
 

/**
* App-wide Styles
*/

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

// it will iterate through entire app to find .less files and inject them here
// injector

// endinjector
