<div>
	<div ng-if="'admin' | isState" class="page-header">
	  <h1>You have entered into Admin playground! <small>As you already know...with great power comes great responsibility! So be nice! ;)</small></h1>
	</div>
	<div ng-if="'admin' | isState" class="row">
		<div class="col-md-12">
			<p>Ovaj alat ti omogućuje da salješ trenutne notifikacije korisnicima kako bi bili u toku sa trenutnim događanjima u uredu. Prvenstveno je zamišljena kao aplikacija za olakšano obavještavanje o grupama za ručak, ali narasla je u centar za notifikacije koji, osim što obavještava kad je ručak i koja je grupa trenutno na redu, slaže grupe za ručak automatski iz maila tete Višnje. Uz to može slati ciljane obaviesti neovisne o ručku te također podržava i prikaz slika kako bi poruka bila još zanimljivija i konkretnija jer "Slika govori 1000 riječi". Poziv na ručak ovako zamiriše i prije nego se sjedne za stol.</p>
			<p>Uz notifikacije koje se prikazuju u native obliku sustava kojeg korisnik koristi tu su i opcije za kreiranje tjednog menia za ručak kako bi svi znali unaprijed što ih očekuje, a tu je i prikaz dnevne poruke koju korisnik vidi kad klikne na plugin koji ima instaliran u svom internet pregledniku ( Chrome zasad ).</p>
			<p>Na kraju još i nezaobilazna rečenica "Ali to nije sve..." koja uključuje zanimljivu pomoć administratoru da vodi evidenciju za ručak i šalje obavijesti neplatišama.</p>
			<p>Na kraju još samo preostaje da isprobaš notifikacije klikom na gumb za primjer notifikacije i kreneš ih slati onda kada ih trebaš. <button class="btn btn-success btn-xs" type="button" ng-click="exampleNotification()">Prikaži primjer notifikacije</button></p>
		</div>
		<div class="col-md-12">
			<hr />
		</div>
		<!-- Panel for ručak notifications -->
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Notifikacije za ručak</h3>
				</div>
				<div class="panel-body">
					<p>Notifikacije za ručak su prilagođene slanju notifikacija pojedinoj grupi ili svim grupama odjednom(recimo ako se radi o obavijesti o malom delayu koji će utjecati na sve grupe).</p>
					<p>Ove notifikacije generiraju se automatski iz maila tete Višnje koji dolazi ponedjeljkom.</p>
					<p>Moguće je dodati i sliku ručka te editirati poruke.</p>
					<p>Svakom gladušu se za taj mjesec postavlja status dali je platio ili ne tako da u svojim notifikacijama bude stalno obaviješten ako je još uvijek dužan lpvu.</p>
					<button class="btn btn-primary" type="button" ui-sref="admin.lunch">Pošalji obavijest gladnima</button>
				</div>
			</div>
		</div>
		<!-- Panel for general notifications -->
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Ostale notifikacije</h3>
				</div>
				<div class="panel-body">
					<p>Ovaj dio daje veću slobodu za kreiranje notifikacija što omogućava slanje notifikacija pojedincu ili grupi.</p>
					<p>Moguće je i ciljati sve, ali izostaviti neke kako bi se slale obavijesti za poklone i slično</p>
					<button class="btn btn-primary" type="button" ui-sref="admin.notifications">Pošalji custom obavijest</button>
				</div>
			</div>
		</div>
		<!-- Panel for ... notifications -->
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Postavke</h3>
				</div>
				<div class="panel-body">
					<p>Postavke za razne opcije.</p>
					<ul>
						<li>Dnevna novost</li>
						<li>Tjedni menu</li>
						<li>Evidencija plaćanja ručka</li>
					</ul>
					<button class="btn btn-primary" type="button" ui-sref="admin.settings">Postavi settingse <i class="fa fa-smile-o" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>

		<div class="clearfix"> &nbsp; </div>
	</div>

	<div ui-view></div>
	
</div>