@amphinicy-blue: #007dc5;
@amphinicy-light-blue: #27aae1;

@amphinicy-green: #a6ce39;
@amphinicy-light-green: #c4da60;

@amphinicy-orange: #eb6f30;
@amphinicy-light-orange: #f79426;

@amphinicy-grey: #63666A;

body {
	padding-top: 70px;
	padding-bottom: 70px;
}

#wait-for-socket {
	text-align: center;
	background-image: url(../assets/images/disconnect.png);
	background-position: bottom;
	background-repeat: no-repeat;
	height: 500px;
}

#wait-for-socket h3 {
	color: @amphinicy-blue
}

.add-top-margin {
	margin-top: 10px;
}

.online {
	color: #5cb85c;
}

form {
	margin-bottom: 10px;
}

.close {
	text-shadow: 0 0 6px #fff;
	opacity: 0.7;
}

/* Callouts START */
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code {
	border-radius: 3px;
}
.bs-callout+.bs-callout {
	margin-top: -5px;
}
.bs-callout-default {
	border-left-color: #777;
}
.bs-callout-default h4 {
	color: #777;
}
.bs-callout-primary {
	border-left-color: #428bca;
}
.bs-callout-primary h4 {
	color: #428bca;
}
.bs-callout-success {
	border-left-color: #5cb85c;
}
.bs-callout-success h4 {
	color: #5cb85c;
}
.bs-callout-danger {
	border-left-color: #d9534f;
}
.bs-callout-danger h4 {
	color: #d9534f;
}
.bs-callout-warning {
	border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
	color: #f0ad4e;
}
.bs-callout-info {
	border-left-color: #5bc0de;
}
.bs-callout-info h4 {
	color: #5bc0de;
}
/* Callouts END */

select {
	padding: 10px;
}
/* Callout END */

/* File upload */
#galerija .progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	border-radius: 0;
	height: 3px;
}

#galerija .progress-bar {
	background-color: @amphinicy-green;
}

#upload-input {
	display: none;
}

.upload-btn:focus{
	outline: 0 !important;
}

.upload-btn {
	color: #ffffff;
	background-color: @amphinicy-light-orange;
	border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
	color: #ffffff;
	background-color: @amphinicy-orange;
	border: none;
}

/* File upload END */

#galerija .delete {
	position: absolute;
	top: 5px;
	right: 25px;
	font-size: 35pt;
}

#galerija .delete:hover {
	color: #f00;
}

.btn-primary {
	background-color: @amphinicy-light-blue;
	border-color: @amphinicy-light-blue;
}

.btn-primary:hover {
	background-color: @amphinicy-blue;
	border-color: @amphinicy-blue;
}

.btn-success {
	color: @amphinicy-grey;
	background-color: @amphinicy-light-green;
	border-color: @amphinicy-light-green;
}

.btn-success:hover {
	color: @amphinicy-grey;
	background-color: @amphinicy-green;
	border-color: @amphinicy-green;
}

.btn-warning {
	color: @amphinicy-grey;
	background-color: @amphinicy-light-orange;
	border-color: @amphinicy-light-orange;
}

.btn-warning:hover {
	color: @amphinicy-grey;
	background-color: @amphinicy-orange;
	border-color: @amphinicy-orange;
}

a.list-group-item-success {
	color: white;
	background-color: @amphinicy-light-blue;
}

a.list-group-item-success:focus {
	color: white;
	background-color: @amphinicy-light-blue;
}

a.list-group-item:hover {
	color: white;
	background-color: @amphinicy-blue;
}

.btn-success .badge {
	color: @amphinicy-green;
}

/* Hack to hide Image btn from cke toolbar. If I remove it completely then images cannot be added to the editor. */
a.cke_button.cke_button__image {
	display: none;
}

.sortable-placeholder {
	background: @amphinicy-light-green;
	height: 50px;
}