<div class="page-header">
	<h1>Connected clients! <small>You can contact individuals by clicking on them!</small></h1>
</div>

<div class="list-group">
	<button type="button" class="list-group-item available" ng-repeat="client in clientsRS" client-id="{{client.id}}" ui-sref="admin.notifications({notify:'{{client.name}}'})">
		<span class="badge">{{client.count}}</span>
		{{client.name}}
	</button>
</div>

<div class="clearfix"> &nbsp; </div>