<div>
	<div class="page-header">
		<h1>Notifications for the people! <small>Notify who you want when you want! But please don't spam!</small></h1>
	</div>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">Title: </label>
			<div class="col-sm-8">
				<input type="test" class="form-control" placeholder="Title" ng-model="NotifikatorData.title">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Message: </label>
			<div class="col-sm-8">
				<input type="test" class="form-control" placeholder="Message" ng-model="NotifikatorData.message">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Image: </label>
			<div class="col-sm-5">
				<input type="test" class="form-control lunch-image" placeholder="c/p url slike ili odaberi iz galerije" ng-model="NotifikatorData.image">
			</div>
			<div class="col-sm-3">
				<button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#galerija">Galerija</button>
			</div>
			<div class="col-sm-2"> &nbsp; </div>
			<div class="clearfix"> &nbsp; </div>
			<div class="col-sm-2"> &nbsp; </div>
			<div class="col-sm-8">
				<span id="helpBlock" class="help-block">
					Slike koje šalješ bi trebale biti u omjeru 3:2 npr. 480x320 px. Ako bude drugog omjera prikaz će biti sa obrubom.<br />
					Ako trebaš sliku, možda ovdje možeš naći neku koja ti odgovara - 
					<a href="https://pixabay.com/" target="_blank">pixabay</a>
					<a href="https://www.pexels.com/" target="_blank">pexels</a>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Primatelji: </label>
			<div class="col-sm-4">
				<button class="btn btn-success btn-block" type="button" ng-click="selectAll()">Odaberi sve</button>
			</div>
			<div class="clearfix visible-xs-block"> &nbsp; </div>
			<div class="col-sm-4">
				<button class="btn btn-warning btn-block" type="button" ng-click="removeAll()">Reset</button>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"> &nbsp; </label>
			<div class="col-sm-8" id="primatelji">
				<a href="#" class="list-group-item col-xs-6 col-md-3" data-clients ng-repeat="client in clientsRS" on-finish-render broadcasteventname="modifyPrimatelji" ng-click="selectUser($event)">{{client.name}}</a>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"> Botovi: </label>
			<div class="col-sm-8" id="special-clients">
				<a href="#" class="list-group-item col-xs-6 col-md-3" broadcasteventname="modifyPrimatelji" ng-click="selectUser($event)">RocketBot</a>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"> &nbsp; </label>
			<div class="col-sm-4">
				<button class="btn btn-primary btn-block" type="button" ng-click="testNotifications()">Preview</button>
			</div>
			<div class="col-sm-4">
				<button class="btn btn-success btn-block" type="button" ng-click="sendNotifcation()">Pošalji</button>
			</div>
		</div>

	</form>

	<div class="clearfix"> &nbsp; </div>

	<!-- Modals -->
	<notificator-gallery></notificator-gallery>
	<!-- Modals end -->
</div>