<div>
	<div class="page-header">
		<h1>Kad će ručak! <small class="link" ng-click="selectLunchDate($event)">{{today}}</small></h1>
	</div>

	<button class="btn btn-success right-bottom-10" type="button" ng-repeat="(date, group) in lunchGroups" ng-click="selectLunchDate($event)">{{ date == today ? 'Today' : date}}</button>

	<div class="bs-callout bs-callout-danger" ng-hide="lunchGroups[selectedDate]">
		<h4>Danas nema ručka</h4>
	</div>

	<div class="clearfix"></div>

	<div class="form-group" ng-show="lunchGroups[selectedDate] && selectedDate == today">
		<label class="col-sm-2 control-label">Image: </label>
		<div class="col-sm-7">
			<input type="text" class="form-control lunch-image" placeholder="c/p url slike ili odaberi iz galerije" ng-model="lunchImage">
		</div>
		<button class="btn btn-success col-md-3" type="button" data-toggle="modal" data-target="#galerija">Galerija</button>
		<div class="col-sm-2"> &nbsp; </div>
		<div class="col-sm-10">
			<span id="helpBlock" class="help-block">
				Slike koje šalješ bi trebale biti u omjeru 3:2 npr. 480x320 px. Ako bude drugog omjera prikaz će biti sa obrubom.<br />
				Ako trebaš sliku, možda ovdje možeš naći neku koja ti odgovara - 
				<a href="https://pixabay.com/" target="_blank">pixabay</a>
				<a href="https://www.pexels.com/" target="_blank">pexels</a>
			</span>
		</div>
	</div>
	<div class="form-group" ng-show="lunchGroups[selectedDate] && selectedDate != today">
		<h2 class="text-center">{{selectedDate}}</h2>
	</div>
	<div class="clearfix"> &nbsp; </div>
	<div ng-class="groupClass" ng-repeat="(group, members) in lunchGroups[selectedDate]">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{group}}</h3>
			</div>
			<div class="panel-body no-padding connectedSortable">
				<p class="lunch-list" ng-class="{true: 'available'}[isOnline(member)]" ng-repeat="member in members" ng-click="changeSref(member)">{{member}} <i class="fa fa-circle online pull-right" style="padding-top: 3px;" aria-hidden="true" ng-show="isOnline(member)"></i></p>
			</div>
			<div class="panel-footer" ng-hide="selectedDate != today">
				<button class="btn btn-primary btn-block" type="button" ng-click="callLunchGroup(group)">Pozovi grupu</button>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>	

	<div class="clearfix"> &nbsp; </div>

	<notificator-gallery update-element=".lunch-image"></notificator-gallery>
</div>