<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" ng-click="changeActiveCkedit('cknews')">Dnevna novost</a></li>
	<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" ng-click="changeActiveCkedit('ckmenu')">Tjedni menu</a></li>
	<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Plaćanje</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="home">
		<h3>Daily news</h3>
		<div class="clearfix"> &nbsp; </div>

		<form class="form-inline">
			<div class="form-group">
				<label for="imageurlnews">Image URL: </label>
				<input type="text" class="form-control fluid" id="imageurlnews" placeholder="url" ng-model="addImageUrlNews">
			</div>
			<button type="submit" class="btn btn-default" ng-click="addImage(addImageUrlNews, 'cknews')">Dodaj u tekst</button>
			<span> Ili odaberi iz galerije </span>
			<button class="btn btn-success" type="button" data-toggle="modal" data-target="#galerija">Galerija</button>
		</form>
		<form class="form-inline">
			<div class="form-group">
				<label for="yturl">YouTube video: </label>
				<input type="text" class="form-control fluid" id="yturl" placeholder="url" ng-model="addYTUrlNews">
			</div>
			<button type="submit" class="btn btn-default" ng-click="addYT(addYTUrlNews, 'cknews')">Dodaj u tekst</button>
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseYT" aria-expanded="false" aria-controls="collapseYT">YouTube upute</button>
		</form>

		<div class="collapse" id="collapseYT">
			<div class="bs-callout bs-callout-danger">
				<p>Ako želiš dodati yt video onda samo postavi link u input polje. e.g.</p>
				<pre>https://www.youtube.com/watch?v=C0DPdy98e4c</pre>
				<p>Nakon toga postavi kursor u editor gdje želiš da video bude postavljen i klikni na "Dodaj u tekst" gumb.</p>
				<p class="text-danger">NOTE: Youtube video ne možeš pokrenuti iz editora pa je vidljiv samo image placeholder za taj video i mala youtube ikona iznad njega koja ti govori da se radi o videu, a ne o slici.</p>
				<p>U chrome pluginu će korisnicima ove dvije ikone biti zamjenjene sa videom koji će moći pogledati.</p>
			</div>
		</div>

		<div class="clearfix"> &nbsp; </div>
		
		<textarea ng-model="dailyNews" id="cknews" height="auto" ck-editor></textarea>
		<div class="clearfix"> &nbsp; </div>
		<button class="btn btn-success btn-block" type="button" ng-click="saveDailyNews()">Spremi</button>
	</div>
	<div role="tabpanel" class="tab-pane" id="profile">
		<h3>Kreiraj tjedni meni</h3>

		<form class="form-inline">
			<div class="form-group">
				<label for="imageurlmenu">Image URL: </label>
				<input type="text" class="form-control fluid" id="imageurlmenu" placeholder="url" ng-model="addImageUrlMenu">
			</div>
			<button type="submit" class="btn btn-default" ng-click="addImage(addImageUrlMenu, 'ckmenu')">Dodaj u tekst</button>
			<span> Ili odaberi iz galerije </span>
			<button class="btn btn-success" type="button" data-toggle="modal" data-target="#galerija">Galerija</button>
		</form>
		<div class="clearfix"> &nbsp; </div>
		<textarea ng-model="weekMenu" id="ckmenu" ck-editor></textarea>
		<div class="clearfix"> &nbsp; </div>
		<button class="btn btn-success btn-block" type="button" ng-click="saveWeekMenu()">Spremi</button>
	</div>
	<div role="tabpanel" class="tab-pane" id="messages">
		<h3>Evidencija plaćanja ručka {{money.selected.month}}<button ng-show="money.selected.data" class="btn btn-success pull-right" type="button" ng-click="giveMeTheMoney()">Pošalji notifikaciju neplatišama</button></h3>

		<!-- Select month -->
		<div ng-hide="money.selected.data" class="bs-callout bs-callout-success">
			<p>Nema dužnika niti u ovom niti u proteklim mjesecima.</p>
		</div>
		<span ng-show="money.selected.data">Odaberi mjesec: </span>
		<span ng-repeat="month in money.months">
			<button class="btn btn-default" type="button" ng-class="{'btn-success': month === money.selected.month}" ng-click="loadMonthPayments($event)">{{month}}</button>
		</span>

		<!-- List users -->
		<div class="clearfix"> &nbsp; </div>
		<a href="#" class="col-xs-12 col-md-3 list-group-item" ng-class="{'list-group-item-success': value}" ng-repeat="(key, value) in money.selected.data">
			<span>{{key}}</span>
			<button class="btn btn-danger btn-xs pull-right" type="button" ng-show="value" ng-click="pay($event)">Poništi plaćanje</button>
			<button class="btn btn-success btn-xs pull-right" type="button" ng-hide="value" ng-click="pay($event)">Unesi plaćanje</button>
			<i class="fa fa-circle online pull-right" style="padding: 4px 7px;" aria-hidden="true" ng-show="isOnline(key)"></i>
		</a>

		<div class="clearfix"> &nbsp; </div>
		<div class="clearfix"> &nbsp; </div>

		<!-- Close month -->
		<button class="btn btn-success" type="button" data-toggle="modal" data-target="#close-month" ng-show="money.selected.data" data-tooltip="tooltip" data-placement="bottom" title="Ovo otvara Modal sa tekstom da će ova radnja obrisati sve podatke za taj mjesec i dali da to napravi ili ne.">Zaključi mjesec</button>

		<!-- Modal -->
		<div class="modal fade" id="close-month" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Potvrdi zaključivanje mjeseca</h4>
					</div>
					<div class="modal-body">
						<p>Zaključivanje mjeseca znači da su svi platili i da nitko više nije dužan lovu za ovaj mjesec.</p>
						<p class="text-danger">Kad zaključiš mjesec on se briše iz evidencije i nije ga više moguće vratiti.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Odustani</button>
						<button type="button" class="btn btn-success" ng-click="closeMonthPayments()" ng-disabled="closingMonth">Zaključi</button>
					</div>
				</div>
			</div>
		</div>

		<hr ng-show="money.selected.data" >

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-show="money.selected.data" >
			<div class="panel panel-info">
				<div class="panel-heading" role="tab" id="heading-legend" ng-click="legendToggle()">
					<h4 class="panel-title">
						Legend
					</h4>
				</div>
				<div id="collapse-legend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<div class="row">
							<p class="col-xs-4 col-md-3">
								<span class="col-xs-12 col-md-12" style="background: #27aae1;"> &nbsp; </span>
							</p>
							<p class="col-xs-8 col-md-9">Payed for lunch for the month that is being viewed.</p>
						</div>
						<div class="row">
							<p class="col-xs-4 col-md-3">
								<i class="fa fa-circle online" aria-hidden="true"></i>
							</p>
							<p class="col-xs-8 col-md-9">Connected at the moment.</p>
						</div>
						<div class="row">
							<p class="col-xs-4 col-md-3">
								<button class="btn btn-danger btn-xs" type="button">Poništi plaćanje</button>
							</p>
							<p class="col-xs-8 col-md-9">You can unmark payment from the person.</p>
						</div>
						<div class="row">
							<p class="col-xs-4 col-md-3">
								<button class="btn btn-success btn-xs" type="button">Unesi plaćanje</button>
							</p>
							<p class="col-xs-8 col-md-9">Mark payment for person.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"> &nbsp; </div>
</div>

<notificator-gallery></notificator-gallery>
