<!-- BEGIN FOOTER -->
<footer class="navbar-fixed-bottom">
	<div class="container-fluid text-center">
		<p class="text-muted">Amphinicy Notifikator &copy; {{ time | date : 'yyyy'}}</p>
	</div>
</footer>
<!-- END FOOTER -->