<div id="galerija" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Gallery - shown {{gallery.length}} out of {{totalImages}} </h4>
			</div>
		<div class="modal-body">
			<div class="col-sm-4 gallery-item-box" ng-repeat="image in gallery track by $index">
				<span class="gallery-item" file-name="{{image}}" style="background-image: url('http://{{images_host}}/{{image}}');" ng-click="useMe($event)"></span>
				<button type="button" class="close delete" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="clearfix"></div>

			<button ng-hide="noMoreImages" type="button" class="btn btn-default btn-block" style="margin: 30px 0 0 0;" ng-click="getMoreImages()" >Get more images</button>
			<div ng-show="noMoreImages" class="bs-callout bs-callout-success" style="margin-bottom: 0;">
				<h4>These are all images available.</h4>
			</div>

			<div class="progress">
				<div class="progress-bar" role="progressbar"></div>
			</div>

			<input id="upload-input" type="file" name="uploads[]" multiple="multiple" accept="image/*" capture="camera"></br>
		</div>
		<div class="modal-footer">
			<button class="btn upload-btn pull-left" type="button" ng-click="uploadFile()">Add image</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		</div>
	</div>
</div>