<!-- BEGIN HEADER -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img id="logo" src="assets/images/icon.png">
			<a class="navbar-brand" ui-sref="admin">Notificator</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active"><a ui-sref="admin.lunch">Lunch</a></li>
				<li ui-sref-active="active"><a ui-sref="admin.notifications">Custom</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Refresh data from server" ng-click="refreshMe()"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
				<li ui-sref-active="active"><a ui-sref="admin.settings">Settings</a></li>
				<li><a href="#" ng-click="logMeOut()">Log out</a></li>
			</ul>
			<div class="nav navbar-nav navbar-right">
				<button class="btn btn-success navbar-btn" ui-sref-active="btn-warning" ng-class="{true: 'btn-danger'}[clientsRS === undefined]" type="button" ui-sref="admin.manage">
						{{socketError || "Active"}} 
						<span class="badge">
							{{clientsRS.length}}
							<i class="fa fa-exclamation" ng-hide="clientsRS" aria-hidden="true"></i>
						</span>
				</button> &nbsp; 
			</div>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>
<!-- END HEADER -->