<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Notifikator Admin</title>
		<base href="/">
		<meta name="description" content="Admin sučelje za kreiranje obavijesti prema klijentima">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a6ce39">
		<meta name="theme-color" content="#a6ce39">
		<!-- build:css({.tmp/serve,src}) styles/vendor.css -->
			<!-- bower:css -->
			<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css({.tmp/serve,src}) styles/app.css -->
			<!-- inject:css -->
			<!-- endinject -->
		<!-- endbuild -->
	</head>
	<body ng-app="NotifikatorAdmin" ng-controller="mainCtrl">
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Add your site or application content here -->
		<div class="container-fluid">
			<notifikator-header ng-show="loggedin"></notifikator-header>
		
			<div ui-view="" ng-hide="initializingSocket"></div>

			<div id="wait-for-socket" ng-show="initializingSocket">
				<h3>Connecting to socket</h3>
				<p>{{socket_address}}</p>
				<i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
			</div>

			<notifikator-footer></notifikator-footer>
		</div>

		<div class="shout-image"></div>

		<!-- MODALS -->
		<div id="connection-error" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Socket error</h4>
					</div>
					<div class="modal-body">
						<p ng-bind-html="socketError"></p>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- MODALS END -->

		<script src="configs/resources-config.js"></script>		
		<script src="js/date-extension.js"></script>		

		<!--[if lt IE 9]>
		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/json3/lib/json3.min.js"></script>
		<![endif]-->

		<!-- build:js(src) scripts/vendor.js -->
			<!-- bower:js -->
			<!-- run `gulp inject` to automatically populate bower script dependencies -->
			<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({src/configs,src/js}) scripts/configs.js -->
			<!-- inject:js -->
			<!-- endinject -->
			<!-- inject:partials -->
			<!-- endinject -->
		<!-- endbuild -->

		<!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
			<!-- inject:js -->
			<!-- endinject -->
			<!-- inject:partials -->
			<!-- endinject -->
		<!-- endbuild -->

		<script src="configs/toastr-config.js"></script>

	</body>
</html>
